@charset "utf-8";
/* CSS Document */

#container {
	width: 1219px;
	background-color: darkgray;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #212224;
}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #A6A6A6
}
li{
	border-right: 1px solid #bbb;
}

li a{
	color:#FFFFFF;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	Color: #232323;
}
p {
	font-size: 12px;
}
#left_column, #right_column{
	width:360px;
	float:left;
	margin-right:240px;
}
p { margin:2px}
#left_column2 {
	float: left;
	margin-left: 200px;
	width: 180px;
	margin-top: 15px;
}

#Right-column2 {
	float: left;
	margin-left: 300px;
	width: 400px;
	margin-top: 15px;
}

#left_column3 {
	width: 560px;
	float: right;
}	